.settings
.classpath
.project
.DS_Store
.idea*
/target/
*.class
bin/
/.idea/
/.vscode/
*.iml
.vagrant/*
/.vagrant/
awsconfig
/awsconfig
dockerconfig
/dockerconfig
*.pem
/src/main/java/META-INF/
/src/main/resources/META-INF/
